{
    "name": {{cluster.name}},
    "description": {{cluster.description}},
    "vxnet": {{cluster.vxnet}},
    "advanced_actions": [
        "scale_horizontal",
        "change_vxnet"
    ],
    "nodes": [{
        "role": "repl_node",
        "container": {
            "type":"kvm",
            "zone": "pek3",
            "image": "img-zuy9dfsl"
        },
        "instance_class": {{cluster.repl_node.instance_class}},
        "count": {{cluster.repl_node.count}},
        "cpu": {{cluster.repl_node.cpu}},
        "memory": {{cluster.repl_node.memory}},
        "volume": {
            "size": {{cluster.repl_node.volume_size}},
            "mount_point": "/data",
            "class": {{cluster.repl_node.volume_class}},
            "filesystem": "ext4"
        },
        "passphraseless":"ssh-rsa",
        "vertical_scaling_policy": "sequential",
        "services": {
            "init": {
                "cmd": "appctl init"
            },
            "start": {
                "cmd": "appctl start",
                "order": 2
            },
            "stop": {
                "cmd": "appctl stop",
                "order": 1
            },
            "get_nodes_order": {
                "event": ["upgrade", "rollback", "scale_vertical", "stop"],
                "cmd": "appctl getNodesOrder"
            },
            "scale_out": {
                "nodes_to_execute_on": 1,
                "cmd": "appctl scaleOut"
            },
            "scale_in": {
                "nodes_to_execute_on": 1,
                "cmd": "appctl scaleIn"
            }
        }
    },{
        "role": "ro_node",
        "container": {
            "type":"kvm",
            "zone": "pek3",
            "image": "img-zuy9dfsl"
        },
        "instance_class": {{cluster.ro_node.instance_class}},
        "count": {{cluster.ro_node.count}},
        "cpu": {{cluster.ro_node.cpu}},
        "memory": {{cluster.ro_node.memory}},
        "volume": {
            "size": {{cluster.ro_node.volume_size}},
            "mount_point": "/data",
            "class": {{cluster.ro_node.volume_class}},
            "filesystem": "ext4"
        },
        "passphraseless":"ssh-rsa",
        "vertical_scaling_policy": "sequential",
        "services": {
            "init": {
                "cmd": "appctl init"
            },
            "start": {
                "cmd": "appctl start",
                "order": 1
            },
            "stop": {
                "cmd": "appctl stop",
                "order": 2
            },
            "get_nodes_order": {
                "event": ["upgrade", "rollback", "scale_vertical", "stop"],
                "cmd": "appctl getNodesOrder"
            },
            "scale_out": {
                "nodes_to_execute_on": 1,
                "cmd": "appctl scaleOut"
            },
            "scale_in": {
                "nodes_to_execute_on": 1,
                "cmd": "appctl scaleIn"
            }
        }
    }],
    "env": {
        "db.userpass": {{env.db.userpass}},
        "conf.mongod.port": {{env.conf.mongod.port}},
        "conf.mongod.oplogsize": {{env.conf.mongod.oplogsize}}
    }
}