{{- $nodeRole := index (split (getv "/host/role") "_node") 0 }}

flush > /opt/app/current/bin/envs/node.env << NODE_ENV_FILE
NODE_CTL=nodectl
MY_SID={{ getv "/host/sid" }}
MY_IP={{ getv "/host/ip" }}
MY_ROLE={{ $nodeRole }}
DATA_MOUNTS="/data"
SERVICES="mongod/true/tcp:27017"
NODE_ENV_FILE