{{- if and (eq $nodeRole "ro_node") (eq $verticalScalingFlag "false") (eq $changeVxnetFlag "false") (eq $addingHostsFlag "false") (eq $deletingHostsFlag "false") }}
makeSourceList() {
  local tmpstr=''
  local cnt=${#confd_repl_node_hosts[@]}
  for((i=0; i<$cnt; i++)); do
    tmpstr="$tmpstr$(getIp ${confd_repl_node_hosts[i]})\n"
  done
  tmpstr=$(echo -e $tmpstr | sort)
  echo "$tmpstr"
}
makeTargetList() {
  local tmpstr=''
  local cnt=${#confd_ro_node_hosts[@]}
  for((i=0; i<$cnt; i++)); do
    tmpstr="$tmpstr$(getIp ${confd_ro_node_hosts[i]})\n"
  done
  tmpstr=$(echo -e $tmpstr | sort)
  echo "$tmpstr"
}
flush > /opt/app/current/conf/mongoshake/mongoshake.hosts.new << MONGOSHAKE_HOSTS_NEW_FILE
SOURCE_IPS=$(echo $(makeSourceList))
TARGET_IPS=$(echo $(makeTargetList))
MONGOSHAKE_HOSTS_NEW_FILE
{{- end }}