{{- if eq $nodeRole "ro_node" }}
flush > /opt/app/current/conf/mongoshake/mongoshake.hosts.new << MONGOSHAKE_HOSTS_NEW_FILE
SOURCE_IPS=$(echo $(makeSourceList))
TARGET_IPS=$(echo $(makeTargetList))
MONGOSHAKE_HOSTS_NEW_FILE
{{- end }}